---
import Layout from '../layouts/Layout.astro';
---

<Layout title="PacienTracker.">
	<main class="h-screen w-full">
		<header class="w-full h-1/6 flex bg-blue-600 text-black justify-between items-center px-12">
			<p class="text-2xl font-bold"><a href="#">PacienTracker</a></p>
			<button class="px-6 py-2 bg-slate-700 text-white">Adquirir servicio</button>
		</header>
		<div class="w-full h-5/6 bg-blue-600 flex">
			<div class="w-1/2 h-full flex justify-center items-center">
				<img src="#" alt="portada">
			</div>
			<div class="w-1/2 h-full flex flex-col text-white">
				<h1 class="text-3xl">Mejore el almacenamiento de los datos de sus clientes.</h1>
				<p class="">Software de vitacora para una correcta gestion de los datos.</p>
				<button>Ir ahora mismo </button>
			</div>
		</div>
	</main>
</Layout>

