---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';

import { LuAlarmClock } from "react-icons/lu";
import { IoIosSettings } from "react-icons/io";
import { FaRocket } from "react-icons/fa";
import { FaUsers } from "react-icons/fa";
---

<Layout title="PacienTracker.">
	<main class="w-full">
		<section class="w-full h-screen">
			<header class="w-full h-1/6 flex max-sm:flex-col max-sm:py-6 max-sm:gap-3 text-black justify-between items-center px-12">
				<p class="text-2xl font-bold"><a href="#">PacienTracker</a></p>
				<Button text='Adquirir servicio' />
			</header>
			<div class="w-full h-5/6 flex max-lg:flex-col max-lg:justify-center max-lg:items-center">
				<div class="w-1/2 h-auto flex justify-center items-center ">
					<img src="/assets/portada.webp" alt="portada" 
					class="w-4/6 h-auto rounded-full border-8 border-slate-900 shadow-xl shadow-slate-800 max-sm:border-4">
				</div>
				<div class="w-3/5 h-full flex flex-col justify-start mt-24 max-sm:mt-8 items-center gap-6 text-black">
					<h1 class="text-3xl font-bold w-4/5 max-sm:text-xl max-sm:text-center">Mejore el control de sus clientes con nuestros servicios.</h1>
					<p class="text-xl w-4/5 max-sm:text-base max-sm:text-center">Tenemos dos servicios que ofrecemos para tu beneficio asi que no esperes mas y contratalo ya..!</p>
					<div class="flex gap-14 max-sm:flex-col">
						<Button text='Servicio basico' /> 
						<button class="px-6 py-3 bg-slate-700 text-white rounded-full hover:scale-105 hover:transition-all hover:translate-x-1 hover:bg-black hover:shadow-lg hover:shadow-slate-500 max-sm:py-2 max-sm:px-3 max-sm:text-xs">
							Servicio custom
						</button>
					</div>
				</div>
			</div>
		</section>
		<section class="w-full min-h-screen">
			<p class="w-1/2 h-1/4 text-center text-2xl py-10 mx-auto font-bold max-sm:text-base">
				Software de soporte especializado para el sector medico privado de excelente calidad
			</p>
			<div class="w-4/6 h-2/4 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-12 mt-7 ">
				<div>
					<LuAlarmClock className='text-5xl' />
					<Card 
					title='Ahorre tiempo y reduzca costos' 
					parrafo='Configuración rápida y sencilla que le permite crecer de forma eficaz con el tiempo.'
					/>
				</div>
				<div>
					<IoIosSettings className='text-5xl' />
					<Card 
					title='Mejore la productividad' 
					parrafo='Utilice flujos de trabajo, automatización e inteligencia artificial para enviar sus tickets al agente adecuado.' 
					/>
				</div>
				<div>
					<FaRocket className='text-5xl' />
					<Card 
					title='Aumente la satisfacción del cliente' 
					parrafo='Ayude a los clientes con online tickets utilizando más inteligencia virtual y menos trabajo manual.' 
					/>
				</div>
				<div>
					<FaUsers className='text-5xl' />
					<Card 
					title='Brinde soporte en todos los canales' 
					parrafo='Resuelva los tickets de soporte al cliente a través de la web, correo electrónico, teléfono, SMS y redes sociales – todo en un solo lugar.' 
					/>
				</div>
			</div>
			<button class="px-6 py-3 bg-slate-700 text-white block mx-auto rounded-full hover:scale-105 hover:transition-all hover:translate-x-1 hover:bg-black hover:shadow-lg hover:shadow-slate-500 mt-8 max-sm:py-2 max-sm:px-3 max-sm:text-xs max-md:mb-5">
				Empieza ya!
			</button>
		</section>
		<footer class="bg-black text-white h-12 flex justify-center items-center">
			copy@Derecho
		</footer>
	</main>
</Layout>

