---
interface Props {
  text: string
}
const { text } = Astro.props
---

<button class="px-6 py-3 bg-slate-700 font-bold text-white rounded-full hover:scale-105 hover:transition-all hover:translate-x-1 hover:bg-black hover:shadow-lg hover:shadow-slate-500 max-sm:py-2 max-sm:px-3 max-sm:text-xs">
    {text}
</button>