---
interface Props {
  title: string
  parrafo: string
}
const { title } = Astro.props
const { parrafo } = Astro.props
---

<div>
    <h2 class="font-bold text-xl text-center">{title}</h2>
    <p class="justify-around text-sm text-justify">{parrafo}</p>
</div>